@use "../base/variables" as *;
@use "../base/mixins" as *;

.about {
  margin: $m-md $m-sm;

  @include flex-col-center;

  @include media-up(medium) {
    margin: $m-lg $m-lg;
  }

  @include media-up(large) {
    margin: $m-lg $m-xl;
  }

  &__heading,
  &__photo,
  &__bio,
  &__facts {
    margin-bottom: $m-sm;
  }

  &__heading {
    text-align: center;
  }

  &__photo {
    max-width: 350px;
    width: 100%;
    height: auto;

    border-radius: 50%;

    @include media-up(medium) {
      float: left;
      shape-outside: circle(50%);
      margin-right: $m-sm;
    }
  }

  &__facts {
    display: flex;
    flex-direction: column;
    gap: $s-sm;

    width: 100%;
    background-color: white;
    height: 100%;
    padding: $p-md $p-md;

    border-radius: $s-sm;
    border: solid $muted 1px;

    text-align: center;

    @include media-up(medium) {
      flex-direction: row;
      justify-content: space-evenly;

      height: 130px;
      border-radius: 65px;
    }
  }

  .fact {
    flex: 1;

    &__description {
      font-size: $fs-sm-text;
      color: darken($muted, 10%);
      letter-spacing: -3%;
    }
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    @include media-up(medium) {
      display: block;
      align-self: flex-start;
    }
  }
}
