@use "../base/variables" as *;
@use "../base/mixins" as *;

.about {
  margin: $m-md $m-sm;

  @include flex-col-center;

  @include media-up(medium) {
    margin: $m-xl $m-lg;
  }

  @include media-up(large) {
    margin: 0 $m-xl;
  }

  &__heading,
  &__photo,
  &__bio,
  &__facts {
    margin-bottom: $m-sm;
  }

  &__heading {
    text-align: center;
  }

  &__photo {
    max-width: 350px;
    width: 100%;
    height: auto;

    border-radius: 50%;

    @include media-up(medium) {
      float: left;
      shape-outside: circle(50%);
      margin-right: $m-sm;
    }
  }

  &__facts {
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    gap: $s-xs;

    background-color: white;
    height: 100%;

    @include media-up(medium) {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

.about-container {
  @include flex-col-center;

  @include media-up(medium) {
    flex-direction: row;
    gap: $s-md;
  }
}

.fact-card {
  background-color: white;
  padding: $p-xs $p-md;
  border-radius: 10px;
  box-shadow: 0 2px 4px #c4b79fb1;
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  @include media-up(medium) {
    display: block;
    align-self: flex-start;
  }
}
