@use "../base/variables" as *;
@use "../base/mixins" as *;

.contact {
  @include flex-col-center;
  margin-bottom: $m-md;
  @include media-up(medium) {
    margin-bottom: $m-lg;
  }

  &__text {
    margin-bottom: $m-md;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: $s-xs;

    max-width: 350px;
    width: 100%;

    a {
      flex: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: $s-xs;

      background-color: $bg-secondary;
      padding: 0.7rem 0;

      border-radius: $br-rounded;
      border: $border;

      img {
        max-width: 100%;
        width: 20px;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    @include media-up(medium) {
      flex-direction: row;
      gap: $s-md;

      max-width: 600px;
    }
  }

  .icon-attribution {
    margin-top: $m-md;
  }
}

.icon-link {
  text-decoration: underline;

  &:hover {
    color: $text-secondary;
  }
}
