@use "../base/variables" as *;
@use "../base/mixins" as *;

header {
  margin: $s-sm 0;
  .nav {
    gap: $s-lg;
    @include flex-center;

    &__link {
      font-weight: 600;
      text-transform: lowercase;
      text-decoration: none;
      color: $muted;
      transition: color 0.3s ease;
      &:hover,
      &.active {
        color: $accent;
      }
    }
  }
}
