@use "../base/variables" as *;
@use "../base/mixins" as *;

header {
  position: absolute;

  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  @include media-up(small) {
    margin: $m-md 0;
  }
  .nav {
    margin: 0 auto;
    max-width: 1200px;
    display: none;

    @include media-up(medium) {
      padding: 0 $p-lg;
      display: flex;
      justify-content: space-evenly;
    }

    &__link {
      @include font-styling($font-body, $fs-link, 800);
      text-transform: lowercase;
      color: $muted;
      transition: color 0.3s ease;
      &:hover,
      &.active {
        color: $accent;
      }
    }
  }
}
