@use "../base/variables" as *;
@use "../base/mixins" as *;

header {
  @include media-up(small) {
    margin: $m-md 0;
  }
  .nav {
    margin: 0 auto;
    max-width: 1200px;
    display: none;

    @include media-up(medium) {
      padding: 0 $p-lg;
      display: flex;
      justify-content: space-evenly;
    }

    &__link {
      font-size: $fs-link;
      font-weight: 600;
      text-transform: lowercase;
      color: $muted;
      transition: color 0.3s ease;
      &:hover,
      &.active {
        color: $accent;
      }
    }
  }
}
