@use "../base/variables" as *;
@use "../base/mixins" as *;

.home {
  margin: $m-xl 0;

  .hero {
    @include flex-col-center;

    &__image-wrapper {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
    &__image {
      min-width: 900px;
      height: auto;
      object-fit: cover;
      object-position: center;
    }

    &__heading {
      width: 100%;
      text-align: center;
      letter-spacing: 0.5rem;
      word-wrap: break-word;

      @include media-up(medium) {
        letter-spacing: 1rem;
      }
    }

    &__tagline {
      color: $accent;
      @include font-styling($font-body, $fs-subheading, 600);
    }

    &__heading,
    &__tagline {
      margin: 0 $m-sm;
      @include media-up(large) {
        margin: 0;
      }
    }
  }
}
