@use "../base/variables" as *;
@use "../base/mixins" as *;

.home {
  margin: 0;
  text-align: center;
  height: 100vh;

  .hero {
    @include flex-col-center;
    justify-content: center;
    height: 100%;

    &__image-wrapper {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
    &__image {
      min-width: 900px;
      height: auto;
      object-fit: cover;
      object-position: center;
    }

    &__heading {
      width: 100%;
      text-align: center;
      letter-spacing: $s-xs;
      word-wrap: break-word;

      @include media-up(medium) {
        letter-spacing: $s-sm;
      }
    }

    &__tagline {
      color: $secondary;
      @include font-styling($font-body, $fs-subheading, 400);
    }

    &__heading,
    &__tagline {
      margin: 0 $m-sm;
      @include media-up(large) {
        margin: 0;
      }
    }
  }
}
