@use "../base/variables" as *;
@use "../base/mixins" as *;

.home {
  margin: $m-xl 0;

  .hero {
    @include flex-col-center;

    &__image {
      width: 100%;
      max-width: 1200px;
    }

    &__heading {
      text-align: center;
      letter-spacing: 1rem;
    }
  }
}
