@use "../base/variables" as *;
@use "../base/mixins" as *;

.projects {
  margin: $m-md $m-sm;
  @include media-up(medium) {
    margin: $m-lg $m-lg 0;
  }

  @include media-up(large) {
    margin: $m-xl $m-lg 0;
  }

  &__list {
    @include media-up(medium) {
      margin: 1rem 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

.project {
  margin-top: $m-sm;
  background-color: white;
  padding: $p-sm;
  border: $border;
  border-radius: $s-sm;

  @include media-up(medium) {
    padding: 0;
    border-radius: 0;
  }

  &__link {
    display: block;

    &--text {
      display: none;

      @include media-up(medium) {
        display: inline-block;
        padding: $p-xs $p-sm;
        background-color: $accent;
        border-radius: $br-rounded;

        //text-transform: capitalize;
        font-weight: 600;
        color: $background;

        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  &__image-wrapper {
    width: 100%;
    background-color: white;

    @include media-up(medium) {
      position: relative;
      overflow: hidden;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__info {
    @include media-up(medium) {
      position: absolute;
      inset: 0;

      @include flex-col-center;
      justify-content: space-between;
      padding: $p-sm;

      background-color: rgba($color: $text-color, $alpha: 0.95);
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    @include media-up(large) {
      padding: $p-lg;
    }
    &:hover {
      opacity: 1;
    }
  }

  &__name {
    margin-top: $m-xs;

    @include media-up(medium) {
      margin: 0;
      color: $background;
    }
  }

  &__description {
    text-align: left;

    @include media-up(medium) {
      color: $background;
    }
  }

  &__tags {
    margin-top: $m-xs;
    display: flex;
    flex-wrap: wrap;
    column-gap: $s-xs;
    row-gap: 0.2rem;

    @include media-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }

    .tag {
      background-color: $text-color;
      color: $background;
      font-weight: 600;
      font-size: $fs-sm-text;

      padding: 0.1rem $p-xs;
      border-radius: $br-rounded;

      transition: background-color 0.3s ease;

      @include media-up(medium) {
        background-color: $background;
        color: $text-color;
      }

      @include media-up(large) {
        font-size: $fs-text;
      }

      &:hover {
        background-color: $accent;
      }
    }
  }
}
