@use "../base/variables" as *;
@use "../base/mixins" as *;

.skills {
  h3 {
    margin: $m-xs 0;

    font-family: $font-body;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__card {
    @include flex-col-center;
    justify-content: space-evenly;
    text-align: center;

    background-color: $bg-secondary;
    width: 100%;
    aspect-ratio: 1 / 1;

    border: solid $muted 1px;
    border-radius: $s-sm;
    box-shadow: $shadow;

    @include media-up("medium") {
      width: 7rem;
    }

    &:hover {
      transform: translateY(-0.2rem);
    }

    p {
      max-width: 100%;
      font-weight: 600;
    }

    img {
      max-width: 100%;
      width: 40%;
      aspect-ratio: 1 / 1;
    }
  }
}

.card-container {
  margin: 0 0 $m-sm;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $s-xs;

  @media (max-width: 300px) {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }

  @include media-up("small") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-up("medium") {
    display: flex;
    flex-wrap: wrap;
    column-gap: $s-xs;
  }
}

.efficiency {
  display: flex;
  flex-wrap: wrap;
  column-gap: $s-md;
  margin-bottom: $m-sm;

  &__comfortable,
  &__learning,
  &__exploring {
    display: flex;
    gap: $s-xs;

    font-size: $fs-sm-text;
  }
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  .circle-filled,
  .circle-unfilled {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  .circle-filled {
    background-color: $primary;
  }

  .circle-unfilled {
    background-color: $muted;
  }
}
