@use "./variables" as *;
@use "./mixins" as *;

// general styling
body {
  background-color: $background;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $fs-text;
}

h1 {
  @include font-styling($font-heading, $fs-heading, 400);
}

h2 {
  @include font-styling($font-body, $fs-subheading, 600);
}
