@use "./variables" as *;

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin font-styling($f-family, $f-size, $f-weight) {
  font-family: $f-family;
  font-size: $f-size;
  font-weight: $f-weight;
  font-optical-sizing: auto;
}

// mixin for responsivity, mobile first approach
@mixin media-up($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: $bp-sm) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: $bp-md) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: $bp-lg) {
      @content;
    }
  }
}

@mixin skill-card-styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: white;
  width: 100%;
  aspect-ratio: 1 / 1;

  border: solid $muted 1px;
  border-radius: $s-sm;
  box-shadow: 0 2px 2px $muted;

  @include media-up("medium") {
    width: $s-xl;
  }
}
